.project-card {
  position: relative;
  > div {
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: opacity ease 0.3s;
  }
  > img {
    object-position: 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    cursor: pointer;
    > div {
      opacity: 1;
      transition: opacity ease 0.3s;
    }
  }
}

.project-card--large {
  height: 300px;
}

.project-card--medium {
  height: 260px;
}

.project-card--small {
  height: 200px;
}
