.project-card {
  position: relative;
  > div {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  > img {
    object-position: 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    cursor: pointer;
    .curtain {
      opacity: 0;
      height: 0;
      transition:
        opacity 0.3s ease,
        height 0.3s ease;
    }
  }
}

.project-card--large {
  height: 300px;
}

.project-card--medium {
  height: 260px;
}

.project-card--small {
  height: 200px;
  width: 320px;
}
.curtain {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition:
    opacity 0.3s ease,
    height 0.3s ease;
}
