.socials {
  display: flex;
  gap: 24px;
  padding: 8px 0px;
  border-radius: 8px;
  width: fit-content;
  background-color: white;
  a {
    opacity: 0.8;
    border-radius: 16px;
    transition:
      opacity ease 0.3s,
      transform ease-out 0.3s;
    &:hover {
      opacity: 1;
      cursor: pointer;
      transform: rotate(10deg);
      transition:
        opacity ease 0.3s,
        transform ease-out 0.3s;
    }
  }
}

@media (min-width: 768px) {
  .socials {
    padding: 8px 32px;
    opacity: 0.5;
    transition: opacity ease 0.3s;
    &:hover {
      opacity: 1;
      transition: opacity ease 0.3s;
    }
  }
}

@media (min-width: 1440px) {
  .socials {
    padding: 8px 32px;
    opacity: 1;
  }
}

.elevated {
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.25);
}
