.socials {
  display: flex;
  gap: 24px;
  padding: 8px 32px;
  border: solid 1px var(--color-primary);
  border-radius: 8px;
  width: fit-content;
  background-color: white;
  a {
    opacity: 0.8;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.elevated {
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
}
