@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}
.socials {
  display: flex;
  gap: 24px;
  padding: 8px 32px;
  border-radius: 8px;
  width: fit-content;
  background-color: white;
  a {
    opacity: 0.8;
    border-radius: 16px;
    transition:
      opacity ease 0.3s,
      transform ease-out 0.3s;
    &:hover {
      opacity: 1;
      cursor: pointer;
      transform: rotate(10deg);
      transition:
        opacity ease 0.3s,
        transform ease-out 0.3s;
    }
  }
}

.elevated {
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.25);
}
