@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-primary: #090979;
  --color-accent-1: #c14eff;
  --color-accent-2: #ffd700;
  --color-accent-3: #9966cc;
  --color-neutral: #eaeaea;
  --color-secondary: #7a5fcc;
  --color-secondary-75: rgba(122, 95, 204, 0.75);
  --color-text: #1a1a1a;
  --bevel-large: 40px;
  --bevel-medium: 32px;
  --bevel-small: 24px;
}

@font-face {
  font-family: 'League Gothic';
  src: url('/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('/fonts/MiSansLatin-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('/fonts/MiSansLatin-Normal.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('/fonts/MiSansLatin-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MiSansLatin';
  src: url('/fonts/MiSansLatin-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

body,
div,
span,
p {
  letter-spacing: 4%;
  line-height: auto;
}
.bevel--large {
  clip-path: xywh(0 0 100% 100% round 4px var(--bevel-large));
}
.bevel--large-odd {
  clip-path: xywh(0 0 100% 100% round var(--bevel-large) 4px);
}
.bevel--medium {
  clip-path: xywh(0 0 100% 100% round 4px var(--bevel-medium));
}
.bevel--medium-odd {
  clip-path: xywh(0 0 100% 100% round var(--bevel-medium) 4px);
}
.bevel--small {
  clip-path: xywh(0 0 100% 100% round 4px var(--bevel-small));
}
.bevel--small-odd {
  clip-path: xywh(0 0 100% 100% round var(--bevel-small) 4px);
}

#content-wrapper {
  padding: 24px 32px;
  overflow-y: scroll;
  margin-top: 80px;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  #content-wrapper {
    margin-bottom: 74px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }
}

@media (min-width: 1440px) {
  #content-wrapper {
    padding: 32px 64px;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    max-width: 1500px;
    overflow-x: hidden;
  }
}

.large-first-column {
  font-family: 'League Gothic';
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  .page-title {
    line-height: initial;
    max-width: 400px;
    text-align: center;
    text-decoration-line: underline;
    font-size: 256px;
    word-wrap: break-word;
    opacity: 0.3;
    cursor: default;
    user-select: none;
  }
}

#common-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

@media (min-width: 768px) {
  #common-cards-wrapper {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  #common-cards-wrapper {
    grid-column: 2/-1;
    gap: 32px;
  }
}
